<app-header></app-header>

<div class="container ">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="title-bg-small wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms"></p>
        <h3 class="section-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">Our
          <span>Services</span></h3>
      </div>
      <!-- end col -->
    </div>

<section class="container">

    <section class="card__container">
  
      <!--==================== SERVICE CARD ====================-->
      <div class="card__bx card__1">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx">
              <i class="fa-solid fa-pen-ruler"></i>
            </div>
          </div>
          <div class="card__content">
            <h3>Design</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card__bx card__2">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx"><i class="fa-solid fa-code"></i></div>
          </div>
          <div class="card__content">
            <h3>Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card__bx card__3">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx"><i class="fa-solid fa-rocket"></i></div>
          </div>
          <div class="card__content">
            <h3>Lauch</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
  
    </section>
  
  </section>